
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  
  body {
    font-family: Arial, sans-serif;
  }
  
  nav {
    background-color: #333;
    color: rgb(103, 96, 96);
    padding: 10px 0;
    text-align: center;
  }
  
  .social-links {
    list-style: none;
  }
  
  .social-links li {
    display: inline-block;
    margin: 0 10px;
  }
  
  .social-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  .content {
    text-align: center;
    margin-top: 20px;
  }
  
  .content img {
    max-width: 20%;
    height: auto;
    border-radius: 5%;
    margin-bottom: 5px;
  }
  
  .content p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    max-width: 600px;
    margin: 0 auto;
  }
  